.body {
    background-image: url("../images/background.png");
}

#noGridHeader {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    border: 1px red solid;
    height: 20vh;


}

#fbi {
    position: relative;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 12px;
    height: 16vh;
    opacity: .4;
}

#cia {
    position: relative;
    margin-left: 10px;
    margin-right: 18%;
    margin-top: 12px;
    height: 16vh;
    opacity: .4;
}

#noGridTitleText{
    padding-top: 15px;
    padding-bottom: 130px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 75px;
    font-style: italic;
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

#bigCard {
    margin: 15px;;
}

#details {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-end;
    justify-content: center;
    line-height: 0.9;
    font-size: 30px;
    font-family: 'VT323', monospace;
}

#addy{
    font-weight: 600;
    text-decoration: dotted;
}

#date{
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
}

#byob{
    font-weight: 400;
    text-decoration: dotted;
}

.hiLiteDetails {
    font-size: 48px;
    background-color: white;
    padding: 5px;
}

.artistCard {
    margin: 5px;
    width: 200px;
    height: 225px;
    color: red;
    border: 2px red solid;
    text-align: center;
    font-family: 'VT323', monospace;
    padding: 5px;
    font-size: 22px;
}

.bw {
    filter: grayscale(100%);
}


#timer {
    position: relative;
    padding: 20px;
    text-align: center;
    width: 20vw;
    background-color: lightcoral;
    top: 10px;

}

#footerAudio {
    position: relative;
    left: 36%;

}